<h1>Create Post</h1>
<form action="/admin/posts/create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>